
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #788394;
    --black: #302b27;
    --white: #f5f5f5;
    --light-blue: #576ca8;
    --blue: #274690;
    --dark-blue: #1b264f;
}

body {
    background: rgb(120,131,148);
    background: radial-gradient(circle, rgba(120,131,148,1) 4%, rgba(67,86,139,1) 100%);
    font-family: 'Noto Sans', sans-serif;
    color: var(--white);
}

button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 15px;
    
}

button:hover {
    cursor: pointer;
    background-color: #3863c7;
}

select:hover {
    cursor: pointer;
}

.page-title {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-bottom: 2rem;
}

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3rem;
    width: clamp(15rem, 80%, 50rem);
}

.player-options-one {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
    
}

.difficulty-options {
    display: flex;
    flex-direction: column;
}

.difficulty-options select {
    width: 9rem;
    height: 2.4rem;
    margin-right: 1rem;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    border: var(--black) 1px solid;
}

.game-mode-options {
    display: flex;
    flex-direction: column;
}

.game-mode-options select {
    width: 9rem;
    height: 2.4rem;
    margin-right: 1rem;
    background-color: var(--blue);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 700;
    border: var(--black) 1px solid;
}

.player-options-two {
    display: flex;
    justify-content: space-between;
    width: clamp(30rem, 80%, 50rem);
}

.choose-x,
.choose-o,
.reset,
.replay {
    height: 2rem;
    width: 6rem;
    border: none;
    font-size: 1rem;
    font-weight: 900;
}

.reset,
.replay {
    font-size: 0.9rem
}


.scoreboard {
    display: flex;
    justify-content: space-between;
    width: clamp(20rem, 25vw, 25rem);
    margin: auto;
    padding-bottom: 2rem;
}

.score-one,
.score-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 

.player-one,
.player-two {
    text-decoration: underline solid 3px;
}

.player-one-score,
.player-two-score {
    padding-top: 1rem;
    font-size: 2rem;
}

/* MESSAGE LOG */
.message-log {
    margin-bottom: 2rem;
}

.message {
    height: 3rem;
    width: clamp(15rem, 80%, 50rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 3rem;
    background-color: var(--blue);
    border-radius: 10px;
    font-size: clamp(0.8rem, 2vw,1rem)
}

/* PLAYER INTERFACE */

.player-interface {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
}

.top-left,
.top-mid,
.top-right,
.mid-left,
.mid-mid,
.mid-right,
.btm-left,
.btm-mid,
.btm-right {
    border: 0.5rem solid black;
    color: black;
}

.top-left:hover,
.top-mid:hover,
.top-right:hover,
.mid-left:hover,
.mid-mid:hover,
.mid-right:hover,
.btm-left:hover,
.btm-mid:hover,
.btm-right:hover {
    cursor: pointer;
}

.top-left,
.top-mid,
.top-right {
    border-top: none;
}

.top-right,
.mid-right,
.btm-right {
    border-right: none;
}

.btm-left,
.btm-mid,
.btm-right {
    border-bottom: none;
}

.top-left,
.mid-left,
.btm-left {
    border-left: none;
}

/* MISC */

.disabled {
    opacity: 0.6;
    pointer-events: none;
}


.symbol {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    padding: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 640px) {


    .page-title {
        font-size: 1.3rem;
    }

    .option-container {
        margin: 0 auto 2rem;
    }
    
    .difficulty-options select,
    .game-mode-options select {
        height: 2rem;
        width: 7.5rem;
        font-size: 0.8rem;
    }

    .player-options-two {
        width: clamp(25rem, 80%, 50rem);
        margin: 0 1rem;
    }

    .choose-x,
    .choose-o,
    .reset,
    .replay {
        height: 2rem;
        width: 5rem;
        font-size: 0.8rem;
    }

    .scoreboard {
        width: clamp(15rem, 25vw, 25rem);
        margin: auto;   
    }

    .player-one,
    .player-two {
        font-size: 0.8rem;
    }

    .message {
        font-size: 0.6rem;
    }

    .player-interface {
        height: 18rem;
        width: 18rem;
    }

    .symbol {
        font-size: 3.6rem;
    }
}

@media only screen and (max-width: 425px) {

    .difficulty-options select,
    .game-mode-options select {
        height: 1.6rem;
        width: 7.5rem;
        font-size: 0.6rem;
    }

    .player-options-two {
        width: clamp(16rem, 80%, 50rem);
    }

    .choose-x,
    .choose-o,
    .reset,
    .replay {
        height: 1.6rem;
        width: 3.6rem;
        font-size: 0.6rem;
    }

    .scoreboard {
        width: clamp(10rem, 25vw, 25rem);
        margin: auto;   
    }


    .message {
        font-size: 0.5rem;
    }

    .player-interface {
        height: 12rem;
        width: 12rem;
    }

    .symbol {
        font-size: 2.5rem;
    }
}

